<div class="container">

    <form {{#if blog}} action="/users/edit/" {{else}}action="/users/newblog" {{/if}} method="post" class="form">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name"
                value="admin">
        </div>
        <div class="form-group">

            <label for="exampleInputEmail1">Blog Title</label>
            <input type="text" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp"
                name="title" placeholder="Enter title...." value="{{#if blog}}{{blog.title}}{{else}}{{/if}}">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Content</label>
            <textarea id="text-input" oninput="this.editor.update()" class="form-control" name="blog" cols="30"
                rows="10" placeholder="Write your blog here.....">{{#if blog}}{{blog.blog}}{{else}}{{/if}}</textarea>

            <br />
            <div id="preview"> </div>
            <br />
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Discription</label>
            <textarea class="form-control" name="desc" cols="30" rows="3"
                placeholder="small discription.....">{{#if blog}}{{blog.desc}}{{else}}{{/if}}</textarea>
        </div>

        <input type="text" hidden class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            name="userid" value="{{user._id}}" placeholder="Enter title....">

        {{#if blog}}
        <input type="text" value="{{blog._id}}" hidden name="blogid">
        {{/if}}

        
        <div class="insta">
        <label for="exampleInputEmail1">Image Data</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="small"
            placeholder="Bca" value="{{#if blog}}{{blog.small}}{{else}}{{/if}}">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="text1"
            placeholder="Bca Question Papper" value="{{#if blog}}{{blog.text1}}{{else}}{{/if}}">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="text2"
            placeholder="Calicut University - 1st Semeseter" value="{{#if blog}}{{blog.text2}}{{else}}{{/if}}">
        </div>

        <div>
            <div class="insta">
                <label for="exampleInputEmail1">Button Link</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="instalink" placeholder="Paste link here...."
                    value="{{#if blog}}{{blog.instalink}}{{else}}{{/if}}">
            </div>
        </div>

        <div>
            <div class="insta">
                <label for="exampleInputEmail1">Button Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="button" placeholder="Button Name" value="{{#if blog}}{{blog.button}}{{else}}{{/if}}">
            </div>
        </div>

        <div>
            <label style="margin-top: 25px;" for="exampleInputEmail1">Add Tag</label>
            <select class="m-3" name="section" style="padding: 5px; font-size: 15px; font-weight: 500;">
                {{#if blog}}
                <option value="{{blog.section}}">{{blog.section}}</option>
                {{/if}}
                <option value="">Choose</option>
                <option value="Calicut University">Calicut University</option>
                <option value="Allotment">Allotment</option>
                <option value="Result">Result</option>
                <option value="Pdf books ">Pdf books </option>
                <option value="Time Table">Time Table</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success m-3">Submit</button>
    </form>

</div>


<script src="/javascripts/markdown.js"></script>
<script>
    function Editor(input, preview) {
        this.update = function () {
            preview.innerHTML = markdown.toHTML(input.value);
        };
        input.editor = this;
        this.update();
    }
    var $ = function (id) { return document.getElementById(id); };
    new Editor($("text-input"), $("preview"));
</script>


<style>
    .insta {
        margin-top: 20px;
    }

    .form {
        margin-top: 5%;
    }

    input {
        margin-top: 3%;
    }

    textarea {
        margin-top: 3%;
    }

    label {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>